* {
    background: rgb(254, 250, 244);
    color: rgb(186, 164, 41);
    text-align: center;
}

.belgrano-regular {
    font-family: "Belgrano", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  // <uniquifier>: Use a unique and descriptive class name

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  